<h1>Kong's Word Ladder</h1>
<hr>
<p>
Fill in each step with a word that differs from the word in the previous step by 
no more than one character.  
Once you reach a word that differs from the goal by only one letter, 
you can stop and leave the remainder of the steps empty.
</p>
<form>
step 0:<br>
step 1: <input type="text" name="step1" value=""><br>
step 2: <input type="text" name="step2" value=""><br>
step 3: <input type="text" name="step3" value=""><br>
step 4: <input type="text" name="step4" value=""><br>
step 5: <input type="text" name="step5" value="">
<input type="submit" value="Check Answer"><br>
Goal: 
</form>

